<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<h1>Help</h1>
<p>
  This is a sample app for the <a href="https://edu.anarcho-copy.org/Programming%20Languages/Ruby/ruby-rails-tutorial-learn-web-development-6th.pdf"> Ruby on Rails Tutorial </a>
</p>
</body>
</html>